.navbar{
    background-color:forestgreen;
    height: 50px;
    text-align: center;
}
.nav-item .nav-link{
    color: gainsboro;
}

@media (max-width="580px"){
    .navbar{
        width: 100%;
    }
}