.container-fluid{
    background: linear-gradient(45deg,rgb(114, 184, 104),rgb(121, 170, 235)) ;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0 5px 10px black ;
    padding: 20px;
    position: relative;
    top: 100px;
    border-radius: 20px;
    overflow: hidden;
    color:rgb(241, 243, 245);
}
.container-fluid .content{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman';
    background: linear-gradient(45deg,blueviolet,lightgreen);
    text-align: center;
    position:absolute;
    top: 0;
    left: 0;
    width: 100% ;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 20px;
    transform: translatex(0%);

}
.container-fluid:hover .content{
    transform: translateX(-100%);
    transition: all 1s;
}
.container-fluid .content i{
    position: relative;
}
.container-fluid .content p{
  position: relative;

}
.container-fluid .content i{
  position:relative;
  margin: 100px auto
}
label{
  font-size: 18px;
  font-weight: bold;
}

@media (max-width:750px){
    mat-grid-list{
        width: 100%;
    }
}
