<div class="container col-sm-4 shadow-lg mt-3">
    <div class="row">
        <div class="col text-center mt-3">
            <h3>{{header}}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <form #userFrom="ngForm" (ngSubmit)="userFrom.valid && noSubmite()">
                <div class="form-group">
                    <label class="form-label" for="projectId">Project Id <span class="text-danger">*</span></label>
                    <input type="text" name="projectId" [class.is-invalid]="projectId.invalid && projectId.touched"
                        [class.is-valid]="projectId.valid && projectId.touched" #projectId="ngModel" [(ngModel)]="project.projectId"
                        class="form-control" required>
                    <span class="text-danger" *ngIf="projectId.errors?.['required'] && projectId.touched">projectId
                        is required</span>
                </div>
                <div class="form-group">
                    <label class="form-label" for="projectName">project Name <span class="text-danger">*</span></label>
                    <input type="text" name="projectName"
                        [class.is-invalid]="projectName.invalid && projectName.touched"
                        [class.is-valid]="projectName.valid && projectName.touched" #projectName="ngModel" [(ngModel)]="project.projectName"
                        class="form-control" required>
                    <span class="text-danger"
                        *ngIf="projectName.errors?.['required'] && projectName.touched">projectName is
                        required</span>
                </div>
                <div class="form-group">
                    <label class="form-label" for="projectHead">project Name <span class="text-danger">*</span></label>
                    <input type="text" name="projectHead"
                        [class.is-invalid]="projectHead.invalid && projectHead.touched"
                        [class.is-valid]="projectHead.valid && projectHead.touched" #projectHead="ngModel" [(ngModel)]="project.projectHead"
                        class="form-control" required>
                    <span class="text-danger"
                        *ngIf="projectHead.errors?.['required'] && projectHead.touched">projectHead is
                        required</span>
                </div>
                <div class="form-group">
                    <label class="form-label" for="startDate">project Name <span class="text-danger">*</span></label>
                    <input type="date" name="startDate" #startDate="ngModel" [(ngModel)]="project.startDate" class="form-control" required>
                    <span class="text-danger" *ngIf="startDate.errors?.['required'] && startDate.touched">startDate
                        is
                        required</span>
                </div>
                <div class="form-group mb-2 pt-5">
                    <button class="btn  btn-dark btn-left text-ligth btn-sm mx-3"  routerLink="/navbar/home">Back to home</button>
                    <button type="submit" class="btn btn-success btn-outline-warning text-ligth btn-sm ">Submite</button>
                </div>
            </form>
        </div>
    </div>
    
</div>
