<div class="container text-center col-sm-4">
    <div class="row">
        <div class="col-md-4">
            <div class="card mt-5" style="width: 20rem;">
                <div class="card-header text-center text-danger">
                  <p class="h3">Project Detailes</p> 
                </div>
                <div class="card-body">
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">Id : {{values.id}}</li>
                    <li class="list-group-item">Project Id : {{values.projectId}}</li>
                    <li class="list-group-item">Project Name : {{values.projectName}}</li>
                    <li class="list-group-item">Project Head: {{values.projectHead}}</li>
                    <li class="list-group-item">Start Date: {{values.startDate}}</li>
                  </ul>
                </div>
                <div class="card-footer">
                  <button class="btn btn-warning" routerLink="/navbar/home">Back to Home</button>
                </div>
              </div>
        </div>
    </div>
</div>